.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  text-align: center;
  font-size: 50px;
  margin: 100px 120px 30px 120px
}

.name .position {
  font-size: 20px;
  font-weight: 300;
}

.icon {
  display: flex;
  font-size: 30px;
}

.icon div {
  margin: 0 25px;
}