.metadata__icons {
  display: flex;
  align-items: center;
}

.metadata__icons > svg {
  margin-right: 5px;
}

.metadata__title__post {
  font-weight: 700;
  font-size: 38px;
}

.metadata__title__post h2 {
  margin: 0;
  color: #231F20;
  margin-bottom: 20px;
}

.metadata__post__icons {
  display: flex;
  font-weight: 700;
}
.metadata__post__icons > div {
  margin-right: 10px;
  color: #231F20;
}


@media screen and (max-width: 450px) {
  .metadata__title__post {
    text-align: center;
    font-size: 20px;
  }
}