.container {
  max-width: 960px;
  margin: 0 auto;
}

.post_content {
  text-align: justify;
  line-height: 25px;
  margin-top: 80px;
}

@media screen and (max-width: 450px) {
  .container {
    margin: 20px;
  }
  
  .title {
    font-size: 25px;
    text-align: center;
  }
}